<div class="register-section" style="background-image:url(assets/img/hero/breadcrumb-bg.jpg);">

    <div class="register-container">

        <div class="register-header">
            <h2>Create Account</h2>
            <p>Register to access your account</p>
        </div>

        <form class="register-form" #form="ngForm" (ngSubmit)="register(form)"
        appMatchPassword 
        [passwordControlName]="'password'" 
        [rePasswordControlName]="'rePassword'"
      >

            <div class="register-field">
                <label>Username *</label>
                <input 
                    type="text" 
                    name="username"
                    id="username"
                    placeholder="User"
                    ngModel
                    #inputUsername="ngModel"
                    minlength="3"
                    required
                    [class]="
                            ((inputUsername?.touched && inputUsername?.errors?.['required']) 
                            || (inputUsername?.touched && inputUsername?.errors?.['minlength']) || isSubmitClick) 
                            ? 'input-error' : ''
                            "
                >
            </div>

            @if(inputUsername?.touched || isSubmitClick){
                <div>
                @if(inputUsername?.errors?.['required']){
                    <p class="error">
                        Username is required!
                    </p>
                }

                 @if(inputUsername?.errors?.['minlength']){
                    <p class="error">
                        Username must be at least 3 characters!
                    </p>
                }
                </div>
            }

            <div class="register-field">
                <label>Email Address *</label>
                <input 
                    type="email" 
                    name="email"
                    id="email"
                    placeholder="danielk@gmail.com"
                    ngModel
                    #inputEmail="ngModel"
                    required [appEmail]="domains"
                    [class]="
                            ((inputEmail?.touched && inputEmail?.errors?.['emailValidator']) 
                            || (inputEmail?.touched && inputEmail?.errors?.['required']) || isSubmitClick) 
                            ? 'input-error' : ''
                            "
                >
            </div>

            @if(inputEmail?.touched || isSubmitClick){
                <div>
                @if(inputEmail?.errors?.['required']){
                    <p class="error">
                        Email is required!
                    </p>
                }

                 @if(inputEmail?.errors?.['emailValidator']){
                    <p class="error">
                        Email is not valid!
                    </p>
                }
                </div>
            }

            <div class="register-field">
                <label>Password *</label>
                <input 
                    type="password" 
                    name="password"
                    id="password" 
                    placeholder="******"
                    #inputPassword="ngModel" 
                    ngModel 
                    minlength="5"
                    required
                    [class]="
                            ((inputPassword?.touched && inputPassword?.errors?.['required']) 
                            || (inputPassword?.touched && inputPassword?.errors?.['minlength']) || isSubmitClick) 
                            ? 'input-error' : '' 
                            " 
                >
            </div>

            @if(inputPassword?.touched || isSubmitClick){
                <div>
                    @if(inputPassword?.errors?.['required']){
                        <p class="error">
                            Password is required!
                        </p>
                    }
                    @if(inputPassword?.errors?.['minlength']){
                        <p class="error">
                             Password must be at least 5 characters!
                        </p>
                }
                </div>
            }


            <div class="register-field">
                <label>Confirm Password *</label>
                <input 
                    type="password" 
                    name="rePassword"
                    id="rePassword" 
                    placeholder="******"
                    #inputrePassword="ngModel" 
                    ngModel 
                    minlength="5"
                    required
                    [class]="
                            ((inputrePassword?.touched && inputrePassword?.errors?.['required']) 
                            || (inputrePassword?.touched && form?.errors?.['matchPasswordsValidator']) || isSubmitClick) 
                            ? 'input-error' : '' 
                            " 
                >
            </div>

            @if(inputrePassword?.touched || isSubmitClick){
                <div>
                @if (form?.errors?.['matchPasswordsValidator']) {
                    <p class="error">
                        Passwords do not match!
                    </p>
                }
            </div>
            }

            <button class="register-btn" type="submit">
                Create Account
            </button>

            @if(errorMessage !== '') {
                <p class="error">
                    {{errorMessage}}
                </p>
            }

        </form>

        <div class="register-footer">
            <p>Already have an account?</p>
            <a routerLink="/login">Log In</a>
        </div>

    </div>

</div>