<!-- Recently added books Section start  -->
<section class="shop-section section-padding fix">
    <div class="container">
        <div class="section-title-area">
            <div class="section-title mb- wow fadeInUp" data-wow-delay=".3s">
                <h2>Recently Added Books</h2>
            </div>
            <a routerLink="/books-catalog" class="theme-btn style-2 wow fadeInUp" data-wow-delay=".5s">Explore More <i
                    class="fa-solid fa-arrow-right-long"></i></a>
        </div>
        <div class="book-shop-wrapper">
            <div class="shop-box-items style-2">
                <div class="book-thumb center">
                    <a href="https://ex-coders.com/html/boimela/shop-details"><img src="assets/img/book/05.png"
                            alt="img"></a>
                    <ul class="post-box">
                        <li>
                            New
                        </li>
                    </ul>
                    <ul class="shop-icon d-grid justify-content-center align-items-center">
                        <li>
                            <a routerLink="/books-catalog/1"><i class="far fa-heart"></i></a>
                        </li>
                        <li>
                            <a routerLink="/books-catalog/1"><i class="far fa-eye"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="shop-content">
                    <h5> Design Low Book </h5>
                    <h3><a routerLink="/books-catalog/1">Flovely and Unicom <br> Erna</a></h3>
                    <ul class="">
                        <li>4 hours ago</li>
                        <li>Category: Kids</li>
                    </ul>
                    <ul class="author-post">
                        <li class="authot-list">
                            <span class="thumb">
                                <img src="assets/img/testimonial/client-1.png" alt="img">
                            </span>
                            <span class="content">(Author) Albert</span>
                        </li>
                        <li class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </li>
                    </ul>
                </div>
                <div class="shop-button">
                    <a routerLink="/books-catalog/1" class="theme-btn">View</a>
                </div>
            </div>

            <div class="shop-box-items style-2">
                <div class="book-thumb center">
                    <a href="https://ex-coders.com/html/boimela/shop-details"><img src="assets/img/book/04.png"
                            alt="img"></a>
                    <ul class="post-box">
                        <li>
                            New
                        </li>
                    </ul>
                    <ul class="shop-icon d-grid justify-content-center align-items-center">
                        <li>
                            <a routerLink="/books-catalog/1"><i class="far fa-heart"></i></a>
                        </li>
                        <li>
                            <a routerLink="/books-catalog/1"><i class="far fa-eye"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="shop-content">
                    <h5> Design Low Book </h5>
                    <h3><a routerLink="/books-catalog/1">Qple GPad With Retinay<br> Sispla</a></h3>
                    <ul class="">
                        <li>4 hours ago</li>
                        <li>Category: Kids</li>
                    </ul>
                    <ul class="author-post">
                        <li class="authot-list">
                            <span class="thumb">
                                <img src="assets/img/testimonial/client-2.png" alt="img">
                            </span>
                            <span class="content">Wilson</span>
                        </li>
                        <li class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </li>
                    </ul>
                </div>
                <div class="shop-button">
                    <a routerLink="/books-catalog/1" class="theme-btn">View</a>
                </div>
            </div>

            <div class="shop-box-items style-2">
                <div class="book-thumb center">
                    <a href="https://ex-coders.com/html/boimela/shop-details"><img src="assets/img/book/03.png"
                            alt="img"></a>
                    <ul class="post-box">
                        <li>
                            New
                        </li>
                    </ul>
                    <ul class="shop-icon d-grid justify-content-center align-items-center">
                        <li>
                            <a routerLink="/books-catalog/1"><i class="far fa-heart"></i></a>
                        </li>
                        <li>
                            <a routerLink="/books-catalog/1"><i class="far fa-eye"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="shop-content">
                    <h5> Design Low Book </h5>
                    <h3><a routerLink="/books-catalog/1">Simple Things You To <br> Save BOOK</a></h3>
                    <ul class="">
                        <li>4 hours ago</li>
                        <li>Category: Kids</li>
                    </ul>
                    <ul class="author-post">
                        <li class="authot-list">
                            <span class="thumb">
                                <img src="assets/img/testimonial/client-3.png" alt="img">
                            </span>
                            <span class="content">Wilson</span>
                        </li>
                        <li class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </li>
                    </ul>
                </div>
                <div class="shop-button">
                    <a routerLink="/books-catalog/1" class="theme-btn">View</a>
                </div>
            </div>

            <div class="shop-box-items style-2">
                <div class="book-thumb center">
                    <a href="https://ex-coders.com/html/boimela/shop-details"><img src="assets/img/book/02.png"
                            alt="img"></a>
                    <ul class="post-box">
                        <li>
                            New
                        </li>
                    </ul>
                    <ul class="shop-icon d-grid justify-content-center align-items-center">
                        <li>
                            <a routerLink="/books-catalog/1"><i class="far fa-heart"></i></a>
                        </li>
                        <li>
                            <a routerLink="/books-catalog/1"><i class="far fa-eye"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="shop-content">
                    <h5> Design Low Book </h5>
                    <h3><a routerLink="/books-catalog/1">How Deal With Very <br> Bad BOOK</a></h3>
                    <ul class="">
                        <li>4 hours ago</li>
                        <li>Category: Kids</li>
                    </ul>
                    <ul class="author-post">
                        <li class="authot-list">
                            <span class="thumb">
                                <img src="assets/img/testimonial/client-4.png" alt="img">
                            </span>
                            <span class="content">Esther</span>
                        </li>
                        <li class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </li>
                    </ul>
                </div>
                <div class="shop-button">
                    <a routerLink="/books-catalog/1" class="theme-btn">View</a>
                </div>
            </div>
        </div>
    </div>
</section>