<!-- Recently added books Section start  -->
<section class="shop-section section-padding fix">
    <div class="container">
        <div class="section-title-area">
            <div class="section-title mb- wow fadeInUp" data-wow-delay=".3s">
                <h2>Recently Added Books</h2>
            </div>
            <a routerLink="/books-catalog" class="theme-btn style-2 wow fadeInUp" data-wow-delay=".5s">Explore More <i
                    class="fa-solid fa-arrow-right-long"></i></a>
        </div>
        <div class="book-shop-wrapper">
            @for (book of books; track $index) {
            <div class="shop-box-items style-2">
                <div class="book-thumb center">
                    <a [routerLink]="'/books-catalog/'+book._id"><img src="assets/img/book/05.png"
                            alt="img"></a>
                    <ul class="post-box">
                        <li>
                            New
                        </li>
                    </ul>
                    <ul class="shop-icon d-grid justify-content-center align-items-center">
                        <li>
                            <a [routerLink]="'/books-catalog/'+book._id"><i class="far fa-heart"></i></a>
                        </li>
                        <li>
                            <a [routerLink]="'/books-catalog/'+book._id"><i class="far fa-eye"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="shop-content">
                    <h5> {{book.author}} </h5>
                    <h3><a routerLink="/books-catalog/1">{{book.title}}</a></h3>
                    <ul class="">
                        <li>{{book.created_at}}</li>
                        <li>Publisher: {{book.publisher}}</li>
                    </ul>
                    <ul class="author-post">
                        <li class="authot-list">
                            <span class="thumb">
                                <img src="assets/img/testimonial/client-2.png" alt="img">
                            </span>
                            <span class="content">{{book.owner.username}}</span>
                        </li>
                        <li class="star">
                            @for (star of getStars(book.averageRating); track $index) {
                            <i
                                class="fa-star"
                                [class.fa-solid]="star"
                                [class.fa-regular]="!star">
                            </i>
                        }
                        </li>
                    </ul>
                </div>
                <div class="shop-button">
                    <a [routerLink]="'/books-catalog/'+book._id" class="theme-btn">View</a>
                </div>
            </div>
            }

        </div>
    </div>
</section>