<app-breadcrumb pageName="Profile" pageNameUrl="/profile" pageName2="My Books"/>
<!--My Books Section Start -->
<div class="cart-section section-padding pb-0">
    <div class="container">
        <div class="main-cart-wrapper">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Rating</th>
                                    <th>Reviews</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            @if (isLoading) {
                                    <div>Loading...</div>
                            } @else {
                            <tbody>
                                @for (book of user.books; track $index) {
                                <tr>
                                    <td>
                                        <a [routerLink]="`/books-catalog/${book._id}`">
                                            <span class="d-flex gap-5 align-items-center">
                                                {{$index}}
                                                <span class="cart">
                                                    <img [src]="book.imageUrl" alt="img">
                                                </span>
                                                <span class="cart-title">
                                                    {{book.title}}
                                                </span>
                                            </span>
                                        </a>
                                    </td>
                                    <td>
                                        <span>{{book.averageRating}}</span>
                                    </td>
                                    <td>
                                        <span>
                                            {{book.reviews.length}}
                                        </span>
                                    </td>
                                    <td>
                                        <div class="action-buttons">
                                            <button class="btn-delete">
                                                Delete
                                            </button>

                                            <button class="btn-edit">
                                                Edit
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                }

                            </tbody>
                        }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>