img {
    width: 80px;
}

td input {
    color: black;
}


.edit-form {
  background: #fff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  margin-top: 10px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group.full-width {
  grid-column: span 2;
}

label {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #555;
}

input,
textarea {
  padding: 10px 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
  transition: 0.2s;
}

input:focus,
textarea:focus {
  border-color: #fdb3b3;
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 107, 107, 0.2);
}

textarea {
  min-height: 100px;
  resize: vertical;
}

.action-buttons{
    display:flex;
    gap:10px;
    align-items:center;
}

/* common button style */
.action-buttons button{
    display:flex;
    align-items:center;
    gap:6px;
    padding:8px 14px;
    border:none;
    border-radius:6px;
    font-size:14px;
    cursor:pointer;
    transition:0.3s;
    font-weight:500;
}

/* DELETE button */
.btn-delete{
    background:#ffe5e5;
    color:#d11a2a;
}

.btn-delete:hover{
    background:#ffcccc;
    transform:translateY(-2px);
}

/* EDIT button */
.btn-edit{
    background:#e8f0ff;
    color:#1a4ed1;
}

.btn-edit:hover{
    background:#d6e4ff;
    transform:translateY(-2px);
}

.error{
  color: red;
}

.input-error {
    border-left-color: red!important;
    border-color: red!important;
}
