<app-breadcrumb pageName="Profile" pageNameUrl="/profile" pageName2="My Books" />
<!--My Books Section Start -->
<div class="cart-section section-padding pb-0">
    <div class="container">
        <div class="main-cart-wrapper">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Book</th>
                                    <th>Author</th>
                                    <th>Total Page</th>
                                    <th>Rating</th>
                                    <th>Reviews</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            @if (isLoading) {
                            <tr>
                                <td colspan="6">Loading...</td>
                            </tr>
                            } @else {
                            <tbody>
                                @for (book of books; track $index) {
                                @if (editingBookId === book._id) {
                                <tr>
                                    <td colspan="5">
                                            <form #form="ngForm" (ngSubmit)="saveEdit(editForm)">
                                            <!-- EDIT MODE -->
                                            <div class="edit-form">
                                                <div class="form-grid">
                                                    <div class="form-group">
                                                        <label>Title</label>
                                                        <input [(ngModel)]="editForm.title" ngModel #inputTitle="ngModel" name="title" required
                                                        [class]="
                                                                ((inputTitle?.touched && inputTitle?.errors?.['required'])) 
                                                                ? 'input-error' : ''
                                                                "
                                                        />
                                                        
                                                        @if(inputTitle?.touched){
                                                            <span>
                                                                @if(inputTitle?.errors?.['required']){
                                                                    <p class="error">
                                                                        Username is required!
                                                                    </p>
                                                                }
                                                            </span>
                                                            }
                                                    </div>

                                                    <div class="form-group">
                                                        <label>Author</label>
                                                        <input [(ngModel)]="editForm.author" ngModel #inputAuthor="ngModel" name="author" required
                                                        [class]="
                                                                ((inputAuthor?.touched && inputAuthor?.errors?.['required'])) 
                                                                ? 'input-error' : ''
                                                                "
                                                        />

                                                        @if(inputAuthor?.touched){
                                                            <span>
                                                                @if(inputAuthor?.errors?.['required']){
                                                                    <p class="error">
                                                                        Author is required!
                                                                    </p>
                                                                }
                                                            </span>
                                                        }
                                                    </div>

                                                    <div class="form-group">
                                                        <label>Publisher</label>
                                                        <input [(ngModel)]="editForm.publisher" ngModel #inputPublisher="ngModel" name="publisher" required
                                                        [class]="
                                                                ((inputPublisher?.touched && inputPublisher?.errors?.['required'])) 
                                                                ? 'input-error' : ''
                                                                "
                                                        />
                                                        @if(inputPublisher?.touched){
                                                            <span>
                                                                @if(inputPublisher?.errors?.['required']){
                                                                    <p class="error">
                                                                        Publisher is required!
                                                                    </p>
                                                                }
                                                            </span>
                                                        }
                                                    </div>

                                                    <div class="form-group">
                                                        <label>Publish Year</label>
                                                        <input [(ngModel)]="editForm.publishYear" 
                                                        ngModel 
                                                        #inputPublisherYear="ngModel" 
                                                        name="publishYear" 
                                                        required
                                                        type="number"
                                                        min="0"
                                                        max="2100"
                                                        [class]="
                                                                ((inputPublisherYear?.touched && inputPublisherYear?.errors?.['required']) ||
                                                                    (inputPublisherYear?.touched && inputPublisherYear?.errors?.['min']) ||
                                                                (inputPublisherYear?.touched && inputPublisherYear?.errors?.['max'])) 
                                                                ? 'input-error' : ''
                                                                "
                                                        />
                                                        @if(inputPublisherYear?.touched){
                                                            <span>
                                                                @if(inputPublisherYear?.errors?.['required']){
                                                                    <p class="error">
                                                                        Publish year is required!
                                                                    </p>
                                                                }
                                                                 @if(inputPublisherYear?.errors?.['min']){
                                                                    <p class="error">
                                                                        Publish year is minimum 0!
                                                                    </p>
                                                                }
                                                                 @if(inputPublisherYear?.errors?.['max']){
                                                                    <p class="error">
                                                                        Publish year is maximum 2100!
                                                                    </p>
                                                                }
                                                            </span>
                                                            }
                                                    </div>

                                                    <div class="form-group">
                                                        <label>Language</label>
                                                        <input [(ngModel)]="editForm.language" ngModel #inputLanguage="ngModel" name="language" required
                                                         [class]="
                                                                ((inputLanguage?.touched && inputLanguage?.errors?.['required'])) 
                                                                ? 'input-error' : ''
                                                                "
                                                        />
                                                        @if(inputLanguage?.touched){
                                                            <span>
                                                                @if(inputLanguage?.errors?.['required']){
                                                                    <p class="error">
                                                                        Language is required!
                                                                    </p>
                                                                }
                                                            </span>
                                                            }
                                                    </div>

                                                    <div class="form-group">
                                                        <label>Total Pages</label>
                                                        <input [(ngModel)]="editForm.totalPage" ngModel #inputTotalPage="ngModel" type="number" name="totalPage" required
                                                        [class]="
                                                                ((inputTotalPage?.touched && inputTotalPage?.errors?.['required'])) 
                                                                ? 'input-error' : ''
                                                                "
                                                        />
                                                        @if(inputTotalPage?.touched){
                                                            <span>
                                                                @if(inputTotalPage?.errors?.['required']){
                                                                    <p class="error">
                                                                        Total Pages is required!
                                                                    </p>
                                                                }
                                                            </span>
                                                            }
                                                    </div>

                                                    <div class="form-group">
                                                        <label>Country</label>
                                                        <input [(ngModel)]="editForm.country" ngModel #inputCountry="ngModel" name="country" required
                                                        [class]="
                                                                ((inputCountry?.touched && inputCountry?.errors?.['required'])) 
                                                                ? 'input-error' : ''
                                                                "
                                                        />
                                                        @if(inputCountry?.touched){
                                                            <span>
                                                                @if(inputCountry?.errors?.['required']){
                                                                    <p class="error">
                                                                        Country is required!
                                                                    </p>
                                                                }
                                                            </span>
                                                            }
                                                    </div>

                                                    <div class="form-group full-width">
                                                        <label>Image URL</label>
                                                        <input [(ngModel)]="editForm.imageUrl" ngModel name="imageUrl" />
                                                    </div>

                                                    <div class="form-group full-width">
                                                        <label>Description</label>
                                                        <textarea [(ngModel)]="editForm.description" ngModel name="description"></textarea>
                                                    </div>
                                                    <input [(ngModel)]="editForm.category" name="category" hidden />
                                                    <input [(ngModel)]="book._id" name="bookId" hidden />
                                                </div>
                                            </div>
                                        </form>
                                        </td>
                                        <td>
                                            <div class="action-buttons">
                                                <button class="btn-edit" form="editForm">Save</button>
                                                <button class="btn-delete" (click)="cancelEdit()">Cancel</button>
                                            </div>
                                        </td>
                                </tr>

                                } @else {
                                <tr>
                                    <td>
                                        <!-- VIEW MODE -->
                                        <a [routerLink]="`/books-catalog/${book._id}`">
                                            <span class="d-flex gap-5 align-items-center">
                                                {{$index}}
                                                <span class="cart">
                                                    <img [src]="book.imageUrl" alt="img">
                                                </span>
                                                <span class="cart-title">
                                                    {{book.title}}
                                                </span>
                                            </span>
                                        </a>


                                    </td>

                                    <td>
                                        <span>{{book.author}}</span>
                                    </td>

                                    <td>
                                        <span>{{book.totalPage}}</span>
                                    </td>

                                    <td>
                                        <span>{{book.averageRating}}</span>
                                    </td>

                                    <td>
                                        <span>{{book.reviews?.length}}</span>
                                    </td>

                                    <td>
                                        <div class="action-buttons">
                                            <button class="btn-edit" (click)="startEdit(book)">Edit</button>
                                            <button class="btn-delete" (click)="deleteBook(book._id)">Delete</button>
                                        </div>
                                    </td>
                                </tr>
                                }
                                }

                            </tbody>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>