<app-breadcrumb />
<!--My Books Section Start -->
<div class="cart-section section-padding pb-0">
    <div class="container">
        <div class="main-cart-wrapper">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Rating</th>
                                    <th>Reviews</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <span class="d-flex gap-5 align-items-center">
                                            1
                                            <span class="cart">
                                                <img src="assets/img/shop-cart/01.png" alt="img">
                                            </span>
                                            <span class="cart-title">
                                                simple Things You To Save Book
                                            </span>
                                        </span>
                                    </td>
                                    <td>
                                        <span>1</span>
                                    </td>
                                    <td>
                                        <span>
                                            12
                                        </span>
                                    </td>
                                    <td>
                                        <div class="action-buttons">
                                            <button class="btn-delete">
                                                Delete
                                            </button>

                                            <button class="btn-edit">
                                                Edit
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="d-flex gap-5 align-items-center">
                                            2
                                            <span class="cart">
                                                <img src="assets/img/shop-cart/02.png" alt="img">
                                            </span>
                                            <span class="cart-title">
                                                Qple GPad With Retina Sisplay
                                            </span>
                                        </span>
                                    </td>
                                    <td>
                                        <span>1</span>
                                    </td>
                                    <td>
                                        <span>
                                            12
                                        </span>
                                    </td>
                                    <td>
                                        <div class="action-buttons">
                                            <button class="btn-delete">
                                                Delete
                                            </button>

                                            <button class="btn-edit">
                                                Edit
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="d-flex gap-5 align-items-center">
                                            3
                                            <span class="cart">
                                                <img src="assets/img/shop-cart/03.png" alt="img">
                                            </span>
                                            <span class="cart-title">
                                                Flovely and Unicom Erna
                                            </span>
                                        </span>
                                    </td>
                                    <td>
                                        <span>1</span>
                                    </td>
                                    <td>
                                        <span>
                                            12
                                        </span>
                                    </td>
                                    <td>
                                        <div class="action-buttons">
                                            <button class="btn-delete">
                                                Delete
                                            </button>

                                            <button class="btn-edit">
                                                Edit
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>