<app-breadcrumb pageName="Profile"/>
<!-- Profile Section Start -->
<section class="team-details-section fix section-padding">
    @if(!isEditMode){
        <ng-container>
            <div class="container">

                <div class="team-details-wrapper">

                    <div class="team-details-items">

                        <div class="details-image wow fadeInUp" data-wow-delay=".3s">
                            <img [src]="profileDetails.imageUrl || 'assets/img/team/details.png'" alt="img">
                        </div>

                        <div class="details-content wow fadeInUp" data-wow-delay=".5s">

                            <h3>Username: {{profileDetails.username}}</h3>
                            <p><b>Email:</b> {{profileDetails.email}}</p>

                            <hr />

                            <p>
                                <b>Description:</b>
                                {{profileDetails.description}}
                            </p>

                        </div>

                    </div>

                    <div class="details-counter-area">

                        <div class="counter-items">
                            <h2><span class="count">{{profileDetails?.books?.length}}</span></h2>
                            <p>@if (profileDetails.books?.length === 1) { Book } @else { Books }</p>
                        </div>
                        
                        <div class="counter-items">
                            <!-- TODO
                            <h2><span class="count">100</span></h2>
                            <p>Favourite</p>
                            -->
                        </div>
                        

                        <div class="counter-items">
                            <h2><span class="count">{{profileDetails.reviews?.length}}</span></h2>
                            <p>Review</p>
                        </div>

                    </div>

                    <button class="edit-btn" (click)="toggleEditMode()">
                        Edit Profile
                    </button>

                </div>
            </div>
        </ng-container>
    } @else {
        <ng-container>
            <!-- EDIT MODE -->
            <div class="profile-edit" id="profileEdit">
                
                <form class="edit-form" [formGroup]="form" (ngSubmit)="handleSaveProfile()">
                    <h2>Edit profile</h2>
                    <div class="edit-field">
                        <label>Username</label>
                        <input 
                        type="text"
                        name="username"
                        value="Wade Warren"
                        id="username"
                        formControlName="username"
                        placeholder="Username"
                        required
                    >
                    </div>

                    <div class="edit-field">
                        <label>Email</label>
                        <input 
                            type="email" 
                            value="wade@example.com" 
                            id="email"
                            name="email"
                            placeholder="danielk@gmail.com"
                            formControlName="email"
                            required
                        >
                    </div>

                    <div class="edit-field">
                        <label>Image Url Avatar</label>
                        <input 
                            type="text" 
                            value="https://..." 
                            id="imageUrl"
                            name="imageUrl"
                            placeholder="https://..."
                            formControlName="imageUrl"
                            required
                        >
                    </div>

                    <div class="edit-field">
                        <label>Description</label>
                        <textarea id="description" name="description" formControlName="description"></textarea>
                    </div>

                    <button type="submit" class="save-btn" (click)="toggleEditMode()" [disabled]="form.invalid">Save Changes</button>
                    <button type="button" class="cancel-btn" (click)="onCancel($event)">Cancel</button>

                </form>

            </div>
        </ng-container>
    }

</section>