.profile-img {
    width: 50px;
    border-radius: 50%;
}

.profile-username{
  margin-left: 10px;
}

.profile-img-review {
    width: 90px;
    border-radius: 50%;
}

.image-book {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.favourites-count{
  margin-top: 5px;
  font-size: 20px;
}

.error{
    color: red;
}

.input-error {
    border-left-color: red!important;
    border-color: red!important;
}
