<app-breadcrumb pageName="Books" pageNameUrl="/books-catalog" [pageName2]="'Book: ' + book.title" />
<!-- Book Details Section Start -->
<section class="shop-details-section fix section-padding">
    <div class="container">
        <div class="shop-details-wrapper">
            <div class="row g-4">
                <div class="col-lg-5">
                    <div class="shop-details-image">
                        <div class="tab-content">
                            <div id="thumb1" class="tab-pane fade show active">
                                <div class="shop-details-thumb">
                                    <img [src]="book.imageUrl || 'assets/img/book/02.png'" class="image-book" alt="img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="shop-details-content">
                        <div class="title-wrapper">
                            <h2>{{book.title}}</h2>
                        </div>

                        <div class="star">
                            @for (star of getStars(book.averageRating); track $index) {
                            <a><i class="fa-star" [class.fa-solid]="star" [class.fa-regular]="!star">
                                </i></a>
                            }
                            <span>({{book.reviewsCount}} Customer Reviews)</span>
                        </div>
                        <p>
                            {{book.description}}
                        </p>
                        <div class="cart-wrapper">
                            <button type="button" class="theme-btn style-2">
                                <i class="far fa-heart"></i>
                                Add to Favourite
                            </button>
                            <a routerLink="/" class="theme-btn">Add Review</a>
                        </div>
                        <br>
                        <div>
                            <span class="thumb">
                                <img src="assets/img/testimonial/client-2.png" alt="img">
                            </span>
                            <span class="content"> {{book.owner?.username}}</span>
                        </div>
                        <div class="category-box">
                            <div class="category-list">
                                <ul>
                                    <li>
                                        <span>Author:</span> {{book.author}}
                                    </li>
                                    <li>
                                        <span>Category:</span> {{book.category}}
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <span>Total page:</span> {{book.totalPage}}
                                    </li>
                                    <li>
                                        <span>Language:</span> {{book.language}}
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <span>Publish Years:</span> {{book.publishYear}}
                                    </li>
                                    <li>
                                        <span>Century:</span> {{book.country}}
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <span>Publisher:</span> {{book.publisher}}
                                    </li>
                                    <li>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Reviews -->
            <div class="single-tab section-padding pb-0">
                <ul class="nav mb-5" role="tablist">
                    <li class="nav-item " role="presentation">
                        <div class="nav-link ps-0 active">
                            <h6>reviews ({{book.reviewsCount}})</h6>
                        </div>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" role="tabpanel">
                        <div class="review-items">
                            @for (review of book.reviews; track $index) {
                            <div class="review-wrap-area d-flex gap-4">
                                <div class="review-thumb">
                                    <img src="assets/img/shop-details/review.png" alt="img">
                                </div>
                                <div class="review-content">
                                    <div
                                        class="head-area d-flex flex-wrap gap-2 align-items-center justify-content-between">
                                        <div class="cont">
                                            <h5>{{review.owner.username}}</h5>
                                            <span>{{review.created_at | date: 'yyyy-mm-dd hh:mm'}}</span>
                                        </div>
                                        <div class="star">
                                            @for (star of getStars(review.rating); track $index) {
                                            <i class="fa-star" [class.fa-solid]="star" [class.fa-regular]="!star">
                                            </i>
                                            }
                                        </div>
                                    </div>
                                    <p class="mt-30 mb-4">
                                        {{review.text}}
                                    </p>
                                </div>
                            </div>
                            }

                            <!-- Review Form-->
                            <form #form="ngForm" (ngSubmit)="addReview(form)">
                                <div class="review-title mt-5 py-15 mb-30">
                                    <h4>Your Rating*</h4>
                                    <div class="rate-now d-flex align-items-center">
                                        <p>Your Rating*</p>
                                        <div class="star">
                                            @for (star of [1,2,3,4,5]; track $index) {
                                            <i class="fa-star" [class.fa-solid]="star <= (hoveredRating || rating)"
                                                [class.fa-regular]="star > (hoveredRating || rating)"
                                                (click)="setRating(star)" (mouseenter)="setHover(star)"
                                                (mouseleave)="resetHover()" style="cursor: pointer;">
                                            </i>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="review-form">
                                    <div class="row g-4">
                                        <div class="col-lg-12 fadeInUp animated" data-wow-delay=".8">
                                            <div class="form-clt">
                                                <span>Message*</span>
                                                <textarea name="text" id="text"
                                                    placeholder="Write Review" id="text" #inputText="ngModel" ngModel></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 wow fadeInUp animated" data-wow-delay=".9">
                                            <div class="form-check d-flex gap-2 from-customradio">
                                                <input type="checkbox" class="form-check-input" name="terms"
                                                    id="terms" required>
                                                <label class="form-check-label" for="terms">
                                                    i accept your terms & conditions
                                                </label>
                                            </div>
                                            <button type="submit" class="theme-btn style-2">
                                                Submit now
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-top-rating-books />