<div class="login-page" style="background-image: url(assets/img/hero/breadcrumb-bg.jpg);">
    <div class="login-box">

        <div class="cart-title mb-30">
            <h4>Log in</h4>
        </div>

        <form method="POST">

            <div class="form-clt">
                <span>Username or email address *</span>
                <input type="text" name="email">
            </div>

            <div class="form-clt">
                <span>Password *</span>
                <input type="password" name="password">
            </div>

            <button class="theme-btn" type="submit">
                <span>Log In</span>
            </button>

            <div class="remember-me">
                <label>
                    <input type="checkbox"> Remember Me
                </label>
            </div>

        </form>

        <div class="no-account-yet">
            <p>No account yet?</p>
            <a routerLink="/register">Create an Account</a>
        </div>

    </div>
</div>