<div class="page-nav-wrap text-center">
    <ul>
        <li><a class="previous" routerLink="/books-catalog">Previous</a></li>
        <li><a class="page-numbers" routerLink="/books-catalog">1</a></li>
        <li><a class="page-numbers" routerLink="/books-catalog">2</a></li>
        <li><a class="page-numbers" routerLink="/books-catalog">3</a></li>
        <li><a class="page-numbers" routerLink="/books-catalog">...</a></li>
        <li><a class="next" routerLink="/books-catalog">Next</a></li>
    </ul>
</div>