<app-breadcrumb pageName="Books"/>
<!-- Shop Section Start -->
<section class="shop-section fix section-padding pb-0">
    <div class="container">
        <div class="shop-default-wrapper">
            <div class="row">
                <!-- TODO Filter for books
                <div class="col-xl-3 col-lg-4 order-2 order-md-1 wow fadeInUp" data-wow-delay=".3s">
                    <app-filters-book />
                </div>
                -->
                <!--<div class="col-xl-9 col-lg-8 order-1 order-md-2">-->
                <div class="col-xl-12 col-lg-9 order-1 order-md-2">
                    <app-catalog />
                    <!-- TODO PAGINATION-->
                    <app-pagination />
                </div>
            </div>
        </div>
    </div>
</section>