<!-- Hero Section start  -->
<div class="hero-section hero-1 fix bg-cover" style="background-image: url(assets/img/hero/hero-bg-1.jpg);">
    <div class="book-shape float-bob-y">
        <img src="assets/img/hero/book-shape.png" alt="img">
    </div>
    <div class="book-shape-2 float-bob-y">
        <img src="assets/img/hero/book-2.png" alt="img">
    </div>
    <div class="container">
        <div class="row">
            <div class="hero-main-wrapper">
                <div class="hero-content">
                    <h4 class="wow fadeInUp" data-wow-delay=".2s">Welcome to Bookshelf </h4>
                    <h1 class="wow fadeInUp" data-wow-delay=".4s">Discover. Share. Discuss. <br> Your Next Favorite Book
                        <br> <span class="line-shape">Starts Here <img src="assets/img/hero/line-shape.png"
                                alt="shape"></span>
                    </h1>
                    <p class="wow fadeInUp" data-wow-delay=".6s">Join a community of readers. Explore book discussions,
                        share your thoughts, <br> and find your next great read.</p>
                </div>
                <div class="hero-btn">
                    <a routerLink="/books-catalog">
                        <button class="theme-btn wow fadeInUp" data-wow-delay=".8s">
                            Explore Books <i class="fa-solid fa-arrow-right-long"></i>
                        </button>
                    </a>
                    <a routerLink="/register">
                        <button class="theme-btn style-2 wow fadeInUp" data-wow-delay="1s">
                            Join Now <i class="fa-solid fa-arrow-right-long"></i>
                        </button>
                    </a>
                </div>

                <div class="girl-img">
                    <img src="assets/img/hero/hero-girl-1.png" alt="img">
                </div>
            </div>
        </div>
    </div>
</div>