<app-breadcrumb pageName="Profile" pageNameUrl="/profile" pageName2="My Reviews" />
<!--My Books Section Start -->
<div class="cart-section section-padding pb-0">
    <div class="container">
        <div class="main-cart-wrapper">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Username</th>
                                    <th>All Reviews</th>
                                    <th>My Review</th>
                                    <th>My Rating</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            @if (isLoading) {
                            <tr>
                                <td colspan="6">Loading...</td>
                            </tr>
                            } @else {
                            <tbody>
                                @for (review of reviews; track $index) {
                                @if (editingReviewId === review._id) {
                                    <!-- EDIT MODE -->
                                <tr>
                                    <td colspan="6">
                                        <div class="edit-form">
                                            <div class="form-grid">

                                                <div class="form-group">
                                                    <label>Review Text</label>
                                                    <input [(ngModel)]="editForm.text" />
                                                </div>

                                                <div class="form-group">
                                                    <label>Rating</label>
                                                    <input type="number" [(ngModel)]="editForm.rating" />
                                                </div>

                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="action-buttons">
                                            <button class="btn-edit" (click)="saveEdit(review)">Save</button>
                                            <button class="btn-delete" (click)="cancelEdit()">Cancel</button>
                                        </div>
                                    </td>
                                </tr>
                                }
                                @else {
                                <!-- VIEW MODE -->
                                <tr>
                                    <td>
                                        <a [routerLink]="`/books-catalog/${review.bookId._id}`">
                                            <span class="d-flex gap-5 align-items-center">
                                                {{$index}}
                                                <span class="cart">
                                                    <img [src]="review.bookId?.imageUrl" alt="img">
                                                </span>
                                                <span class="cart-title">
                                                    {{review.bookId?.title}}
                                                </span>
                                            </span>
                                        </a>
                                    </td>
                                    <td>
                                        {{review.bookId?.ownerId?.username}}
                                    </td>
                                    <td>
                                        <span>{{review.bookId?.reviews?.length}}</span>
                                    </td>
                                    <td>
                                        <span>
                                            {{review.text}}
                                        </span>
                                    </td>
                                    <td>
                                        <span>
                                            {{review.rating}}
                                        </span>
                                    </td>
                                    <td>
                                        <span>
                                            <span>{{review.created_at | date: 'dd MMM yyyy, HH:mm' }}</span>
                                        </span>
                                    </td>
                                    <td>
                                        <div class="action-buttons">
                                            <button class="btn-edit" (click)="startEdit(review)">Edit</button>
                                            <button class="btn-delete" (click)="deleteReview(review.bookId._id, review._id)">Delete</button>
                                        </div>
                                    </td>
                                </tr>
                                }
                                }
                            </tbody>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>